# MongoDB data
mongo-data/

# PostgreSQL data
pgdata/

# Node
node_modules/

# Python
__pycache__/
*.pyc
env/
venv/

# Logs
*.log

# OS
.DS_Store

#Trash
Trash/

code/backend/node_modules/
code/frontend/node_modules/
code/backend/.env
code/backend/src/venv
