services:
  node-backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    ports:
      - "5001:5001"
    working_dir: /app
    command: >
      sh -c "npm install &&
             node src/server.js"
    depends_on:
      postgres:
        condition: service_started
      ocr:
        condition: service_started
      retriever:
        condition: service_started
    volumes:
      - ./backend:/app
      - /app/node_modules
    environment:
      - OCR_API=http://ocr:7000/ocr 
      - RETRIEVER_API=http://retriever:9000/analyze
      - MONGO_URI=mongodb+srv://bananascrazy2005_db_user:RH2H727dtmkyAZnQ@dsi.wfpopdy.mongodb.net/cancer-risk?retryWrites=true&w=majority
      - JWT_SECRET=your-jwt-secret
    networks:
      backend_net:

  retriever:
    build:
      context: .
      dockerfile: Dockerfile.python
      target: retriever
    ports:
      - "8500:9000"
    working_dir: /app
    command: ["python", "retrieverService.py"]
    depends_on:
      postgres:
        condition: service_healthy
      ollama:
        condition: service_started
    volumes:
      - ./backend/src/services:/app
    environment:
      - OLLAMA_EMBED_URL=http://ollama:11434/api/embed
      - EMBED_DIM=768
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_USER=postgres
      - DB_PASSWORD=yourpassword
      - DB_NAME=chunks_db
      - BIOBERT_API=http://llm:8000/ask
      - RETRIEVER_PORT=9000
    networks:
      backend_net:

  llm:
    build:
      context: .
      dockerfile: Dockerfile.python
      target: llm
    ports:
      - "8001:8000"
    working_dir: /app
    command: ["python", "llmService.py"]
    volumes:
      - ./backend/src/services:/app
    networks:
      backend_net:

  ocr:
    build:
      context: .
      dockerfile: Dockerfile.python
      target: ocr
    ports:
      - "7000:7000"
    working_dir: /app
    command: ["python", "ocrService.py"]
    volumes:
      - ./backend/src/services:/app
    networks:
      backend_net:

  postgres:
    image: ankane/pgvector:latest
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: yourpassword
      POSTGRES_DB: chunks_db
    ports:
      - "5434:5432" # Host port changed from 5433 to 5434
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      backend_net:

  ollama:
    image: ollama/ollama:latest
    ports:
      - "11435:11434"
    volumes:
      - ollama-data:/root/.ollama
    networks:
      - backend_net

  frontend:
    build:
      context: ./frontend_app
      dockerfile: Dockerfile
    ports:
      - "3000:80"
    depends_on:
      - node-backend
    networks:
      - backend_net

volumes:
  pgdata:
  ollama-data:

networks:
  backend_net:
    driver: bridge